- model_class = Component
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:service_id) + ':'
  %br
  = @component.service_id
%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @component.code
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @component.name
%p
  %strong= model_class.human_attribute_name(:shortName) + ':'
  %br
  = @component.shortName
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @component.description
%p
  %strong= model_class.human_attribute_name(:isActive) + ':'
  %br
  = @component.isActive
%p
  %strong= model_class.human_attribute_name(:uomCode) + ':'
  %br
  = @component.uomCode
%p
  %strong= model_class.human_attribute_name(:uomUnit) + ':'
  %br
  = @component.uomUnit

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), components_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_component_path(@component), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), component_path(@component), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
