= simple_form_for @route, :html => { :class => 'form-horizontal' } do |f|
  / = f.input :driver_id
  = f.input :name
  = f.input :startDT
  = f.input :isComplete
  / = f.input :completeDT
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), routes_path, :class => 'btn'
