%h1 Listing routes

%table
  %tr
    %th Driver
    %th Name
    %th Startdt
    %th Iscomplete
    %th Completedt
    %th
    %th
    %th

  - @routes.each do |route|
    %tr
      %td= route.driver
      %td= route.name
      %td= route.startDT
      %td= route.isComplete
      %td= route.completeDT
      %td= link_to 'Show', route
      %td= link_to 'Edit', edit_route_path(route)
      %td= link_to 'Destroy', route, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Route', new_route_path
