%p#notice= notice

%p
  %b Driver:
  = @route.driver
%p
  %b Name:
  = @route.name
%p
  %b Startdt:
  = @route.startDT
%p
  %b Iscomplete:
  = @route.isComplete
%p
  %b Completedt:
  = @route.completeDT

= link_to 'Edit', edit_route_path(@route)
\|
= link_to 'Back', routes_path
